{% extends "layout.html" %}
{% set page_title = "Development" %}
{% set active_page = "dev" %}
{% block board %}
<div class="row">
    <div class="card m-1">
        <h3 class="card-header p-1">Graph</h3>
        <div class="card-body p-2">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>
{% endblock %}