{% macro raw_var_editor(kwargs) %}
<div class="card m-1" style="width: {{ kwargs["width"]|default("auto") }};">
    <div class="card-header p-1">
        <h5 class="m-0 d-inline">{{ kwargs["title"] }}</h5>
        <a class="btn-primary"><h5 class="fas fa-cog float-right m-0 d-inline"></h5></a>
    </div>
    <div class="card-body p-2">
        <input class="form-control mb-2" type="text" placeholder="Null">
        <button class="btn btn-primary">Submit</button>
    </div>
    <div class="card-body p-2 {% if not kwargs["template"] -%} d-none {%- endif %}">
        <!-- settings -->
        
        <button class="btn btn-light">Save</button>
    </div>
</div>
{%- endmacro %}